# Artifacts
artifacts/
*.joblib
*.pkl
*.sav

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv
venv/

# IDE
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
